
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-decoration: none;
            border: none;
            outline: none;
            font-family: 'Poppins', sans-serif;
        }

        html {
            font-size: 62.5%;
        }

        body {
            width: 100%;
            height: 100vh;
            overflow-x: hidden;
            background-color: #272121;
            color: white;
        }

        header {
            margin-top: 20px;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 1rem 9%;
            background-color: transparent;
            filter: drop-shadow(10px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 100;
            transition: top 0.3s;
        }

        .logo {
            font-size: 3rem;
            color: #DD4814;
            font-weight: 800;
            cursor: pointer;
            transition: 0.5s ease;
        }

        .logo:hover {
            transform: scale(1.1);
        }

        nav {
            display: flex;
            position: relative; /* Tambahkan posisi relatif pada nav */
        }

        nav a {
            font-size: 1.8rem;
            color: white;
            margin-left: 4rem;
            font-weight: 500;
            transition: color 0.3s ease, border-bottom 0.3s ease, font-weight 0.3s ease;
            border-bottom: 3px solid transparent;
        }

        nav a:hover,
        nav a.active {
            color: #DD4814;
        }
        nav .underline {
            position: absolute;
            bottom: -10px; /* Sesuaikan posisi garis */
            left: 0; /* Menyelaraskan garis dengan link */
            height: 3px; /* Ketebalan garis */
            background-color: #DD4814; /* Warna garis */
            transition: left 0.3s ease; /* Transisi untuk pergerakan garis */
        }

        @media(max-width:995px) {
            nav {
                position: absolute;
                display: none;
                top: 0;
                right: 0;
                width: 40%;
                border-left: 3px solid #DD4814;
                border-bottom: 3px solid #DD4814;
                border-bottom-left-radius: 2rem;
                padding: 1rem;
                background-color: #DD4814;
                border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
            }

            nav.active {
                display: block;
            }

            nav a {
                display: block;
                font-size: 2rem;
                margin: 3rem 0;
            }

            nav a:hover,
            nav a.active {
                padding: 1rem;
                border-radius: 0.5rem;
                border-bottom: 0.5rem solid #DD4814;
            }
        }

        /* Gaya untuk batang foto */
        .photo-bar {
            display: inline-flex;
            justify-content: space-around;
            align-items: center;
            margin: 5rem 0; /* Menjaga jarak antara header dan batang foto */
            padding: 2em;
            gap: 2rem;
            background-color: transparent; /* Warna latar belakang untuk batang */
        }

        .photo-bar img {
            width: 70%; /* Atur lebar gambar */
            border-radius: 15px; /* Rounded corners */
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Shadow effect */
            transition: transform 0.3s;
            outline: 5px #443737;
        }

        .photo-bar img:hover {
            transform: scale(1.10); /* Zoom effect saat hover */
        }
        .photo-item {
            margin-top: 0.5rem;
            text-align: center; /* Pusatkan teks di bawah gambar */
        }

        .photo-item p {
            margin-top: auto;
            font-size: 1rem; /* Ukuran font untuk teks */
            color: white; /* Warna teks */
        }


        section {
            min-height: 100vh;
            padding: 5rem 9% 5rem;
            margin-top: 10rem; /* Untuk memberi ruang di bawah header tetap */
        }

        .home {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8rem;
            background-color: #443737;
        }

        .home .home-content h1 {
            font-size: 6rem;
            font-weight: 700;
            line-height: 1.3;
        }

        span {
            color: #DD4814;
        }

        .home-content h3 {
            font-size: 4rem;
            margin-bottom: 1rem;
            font-weight: 700;
        }

        .home-content p {
            font-size: 1.6rem;
        }

        .home-img {
            border-radius: 50%;
        }

        .home-img img {
            position: relative;
            width: 32vw;
            border-radius: 50%;
            box-shadow: 0 0 25px solid #DD4814;
            cursor: pointer;
            transition: 0.2s linear;
        }

        .home-img img:hover {
            font-size: 1.8rem;
            font-weight: 500;
        }

        .social-icons a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 4rem;
            height: 4rem;
            background-color: transparent;
            border: 0.2rem solid #DD4814;
            font-size: 2rem;
            border-radius: 50%;
            margin: 3rem 1.5rem 3rem 0;
            transition: 0.3s ease;
            color: #DD4814;
        }

        .social-icons a:hover {
            color: #443737;
            transform: scale(1.3) translateY(-5px);
            background-color: #DD4814;
            box-shadow: 0 0 25px #DD4814;
        }

        .social-icons-self a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 4rem;
            height: 4rem;
            background-color: transparent;
            border: 0.2rem solid #DD4814;
            font-size: 2rem;
            border-radius: 70%;
            margin: 1.5rem 1.5rem 1.5rem 1.5rem;
            transition: 0.3s ease;
            color: #DD4814;
        }

        .social-icons-self a:hover {
            color: #443737;
            transform: scale(1.3) translateY(-5px);
            background-color: #DD4814;
            box-shadow: 0 0 25px #DD4814;
        }

        .btn {
            display: inline-block;
            padding: 1rem 2.8rem;
            background-color: #443737;
            border-radius: 4rem;
            font-size: 1.6rem;
            color: #DD4814;
            letter-spacing: 0.3rem;
            font-weight: 600;
            border: 2px solid #DD4814;
            transition: 0.3s ease;
            cursor: pointer;
        }

        .btn:hover {
            transform: scale3d(1.03);
            background-color: #DD4814;
            color: #454545;
            box-shadow: 0 0 25px #DD4814;
        }

        .search-box {
            display: flex;
            align-items: center;
            margin-left: 1rem; /* Spasi antara navigasi dan pencarian */
        }

        .search-box input {
            padding: 1rem;
            border: 4px solid #DD4814;
            border-radius: 20px;
            background-color: transparent;
            color: white;
            width: 250px;
            transition: border-color 1s ease;
        }

        .search-box input::placeholder {
            color: #DD4814; /* Warna placeholder */
        }

        .search-box input:focus {
            border-color: #FF6A00; /* Ubah warna border saat fokus */
        }

        .search-box button {
            margin-left: 3rem;
            background-color: transparent;
            border: none;
            cursor: pointer;
            color: #DD4814;
            font-size: 2rem;
        }

        .search-box button:hover {
            color: #FF6A00; /* Ubah warna saat hover */
        }

        .highlight {
            background-color: yellow; /* Warna latar belakang untuk highlight */
            font-weight: bold; /* Mengubah ketebalan font */
        }

        @media (max-width: 1000px) {
            .home {
                gap: 4rem;
            }
        }

        @media(max-width:995px) {
            .home {
                flex-direction: column;
                margin: 5rem 4rem;
            }

            .home .home-content h3 {
                font-size: 2.5rem;
            }

            .home-content h1 {
                font-size: 5rem;
            }

            .home-img img {
                width: 70vw;
                margin-top: 4rem;
            }
        }
  